<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Zawartosc koszyka</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>

    <style>
.pinkm {
  text-align: center;
  color: black;
  margin-center;
}
.pinkm2 {
 background-color: #F08080;
  text-align: center;
  color: black;
}


</style>
</head>
<body style = "background-color: pink">
<div class="container">
    <br>
    <br>
    <h1>Zawartość koszyka</h1>
    <br>
    <br>
    <br>
    <table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">produkt</th>
            <th scope="col">cena</th>
            <th scope="col">ilosc</th>
        </tr>
    </thead>
        <tbody>
        <tr th:each="element:${cart}">
            <th scope="row">*</th>
            <td th:text="${element.key.name}">/<td>
            <td th:text="${element.key.price}">/<td>
            <td th:text="${element.value}">/<td>
            <td><a th:href="${'/cart/delete/'+element.key.name}">Usun z koszyka</a></td>
        </tr>
        </tbody>
    </table>
</div>
<br>
<br>
<br>
<div class="container">
    <h2>TOTAL</h2>
    <p th:text="${total}"></p>
</div>
<div class="pinkm2 container">
    <div class="pinkm">
    <a href="/category/list" class="btn btn-danger btn btn-primary">Kontynuuj zakupy</a>
    <a href="/cart/delete" class="btn btn-danger btn btn-primary">Wyczyść koszyk</a>

    </div>
</div>
<br>
<br>
<div class="pinkm2 container">
    <h2>Zamów tutaj</h2>
    <a href="/cart/order" class="btn btn-danger btn btn-primary">Złóż zamówienie z obowiązkiem zapłaty</a>
</div>



</body>
</html>