<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Lista produtków</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  border-bottom: 1px solid #ddd;
}
</style>
</head>

<body>
<div class="container">
    <h2>Panel administratora</h2>
    <table>
        <tr>
            <th>Produkt</th>
            <th>Cena</th>
            <th>Kategoria</th>
            <th>Usuwanie produktu</th>
            <th>Edycja produktu</th>
        </tr>
        <tr th:each="product : ${products}" >
            <td><a th:href="${'/product?name='+product.name}"><span th:text="${product.name}"></span></a></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.category}"></td>
            <td><a th:href="${'/product/delete/'+product.name}">Usun</a></td>
            <td><a th:href="${'/product/edit/'+product.name}">Edytuj</a></td>
        </tr>
    </table>


</div>

<div class="row align-items-center">
    <div class="text-center col-md-5 col-md-offset-3">
        <div class="col" style="background:pink">
            <a href="/category/admin">Dodaj nowy produkt</a>
        </div>
    </div>
</div>
<br>
<br>
<div class="row align-items-center">
    <div class="text-center col-md-5 col-md-offset-3">
        <div class="col" style="background:pink">
            <a href="/admin/orders">Zobacz zamówienia</a>
        </div>
    </div>
</div>


</body>
</html>